################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Dynamics-365/FileContentIndex
*.wsuo
/.vs/Dynamics-365/v17/DocumentLayout.json
/.vs
